In [1]:
import pandas as pd
import numpy as np

In [2]:
# TEST:

universe_test = pd.read_csv('./datasets/universe_test.csv')

In [3]:
universe_test['category'].value_counts(),universe_test['period'].value_counts()

(category_1    293769
 category_2     19469
 category_3     15973
 Name: category, dtype: int64,
 period_5    164680
 period_6    164531
 Name: period, dtype: int64)

In [4]:
universe_test[universe_test.period=='period_5'].loc[0,'ID']

'669c9da570306d5124c865db91a459fb245e80d39043dd30cfd1243dc3357baa'

In [5]:
balances_test = pd.read_csv('./datasets/balances_test.csv')

In [6]:
balances_test[balances_test['ID']=='669c9da570306d5124c865db91a459fb245e80d39043dd30cfd1243dc3357baa'].sort_values(by=['month','type','product'])

,period,ID,month,type,product,entity,balance_amount,days_default
8218,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_1,product_6,entity_5,3.0434,0.0000
340633,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_1,product_6,entity_1,3.4081,0.0000
722919,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_1,product_6,entity_2,3.2794,0.0000
1673176,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_1,product_7,entity_5,4.1252,0.0000
1612005,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_3,product_3,entity_5,3.9311,0.0000
667304,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,2,type_1,product_6,entity_2,3.2634,0.0000
1219234,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,2,type_1,product_6,entity_5,3.0322,0.0000
1732881,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,2,type_1,product_6,entity_1,3.3969,0.0000
1173773,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,2,type_1,product_7,entity_5,4.1219,0.0000
1383656,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,2,type_3,product_3,entity_5,3.9189,0.0000
252527,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,3,type_1,product_6,entity_1,3.3861,0.0000
1344783,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,3,type_1,product_6,entity_5,3.0210,0.0000
1745633,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,3,type_1,product_6,entity_2,3.2719,0.0000
1690309,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,3,type_1,product_7,entity_5,4.1181,0.0000
866284,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,3,type_3,product_3,entity_5,3.9052,0.0000
366792,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,4,type_1,product_6,entity_5,3.0099,0.0000
1764231,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,4,type_1,product_6,entity_2,3.2808,0.0000
1764232,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,4,type_1,product_6,entity_1,3.3820,0.0000
116761,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,4,type_1,product_7,entity_5,4.1146,0.0000
1340961,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,4,type_3,product_3,entity_5,3.8947,2.2332
494001,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,5,type_1,product_6,entity_1,3.3777,0.0000
1133859,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,5,type_1,product_6,entity_5,2.9537,0.0000
1223683,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,5,type_1,product_6,entity_2,3.2968,0.0000
1049609,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,5,type_1,product_7,entity_5,4.1110,0.0000
990553,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,5,type_3,product_3,entity_5,3.8770,0.0000
291009,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,6,type_1,product_6,entity_2,3.2909,0.0000
617600,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,6,type_1,product_6,entity_5,2.9059,0.0000
641956,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,6,type_1,product_6,entity_1,3.3738,0.0000
388392,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,6,type_1,product_7,entity_5,4.1074,0.0000
1588805,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,6,type_3,product_3,entity_5,3.8616,0.0000
2955456,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,7,type_1,product_6,entity_5,2.8920,0.0000
3141411,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,7,type_1,product_6,entity_2,3.2829,0.0000
3473140,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,7,type_1,product_6,entity_1,3.3690,0.0000
2090305,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,7,type_1,product_7,entity_5,4.1036,0.0000
3664843,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,7,type_3,product_3,entity_5,3.8448,0.0000
1992605,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,8,type_1,product_6,entity_1,3.3645,0.0000
2418614,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,8,type_1,product_6,entity_5,2.8758,0.0000
3705020,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,8,type_1,product_6,entity_2,3.2891,0.0000
2088984,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,8,type_1,product_7,entity_5,4.0998,0.0000
1922572,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,8,type_3,product_3,entity_5,3.8271,0.0000
2573498,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,9,type_1,product_6,entity_2,3.3033,0.0000
2573499,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,9,type_1,product_6,entity_5,2.8569,0.0000
3264419,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,9,type_1,product_6,entity_1,3.3597,0.0000
2648742,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,9,type_1,product_7,entity_5,4.0961,0.0000
3089967,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,9,type_3,product_3,entity_5,3.8080,0.0000
2387888,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,10,type_1,product_6,entity_2,3.3107,0.0000
3059164,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,10,type_1,product_6,entity_5,2.8770,0.0000
3682560,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,10,type_1,product_6,entity_1,3.3539,0.0000
2121906,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,10,type_1,product_7,entity_5,4.0918,0.0000
1986320,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,10,type_3,product_3,entity_5,3.7873,0.0000
2507778,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,11,type_1,product_6,entity_1,3.3484,0.0000
2524869,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,11,type_1,product_6,entity_5,2.9429,0.0000
2611983,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,11,type_1,product_6,entity_2,3.2954,0.0000
2185245,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,11,type_1,product_7,entity_5,4.0878,0.0000
3573657,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,11,type_3,product_3,entity_5,3.7646,0.0000
2622703,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,12,type_1,product_6,entity_2,3.2710,0.0000
3287127,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,12,type_1,product_6,entity_1,3.3417,0.0000
3634282,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,12,type_1,product_6,entity_5,2.9935,0.0000
2554628,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,12,type_1,product_7,entity_5,4.0837,0.0000
3306649,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,12,type_3,product_3,entity_5,3.7398,0.0000

In [7]:
balances_test['product'].value_counts()

product_3    4764914
product_6    1338803
product_1     925446
product_4     374718
product_7      94339
product_2      66765
product_8      35825
Name: product, dtype: int64

In [8]:
balances_test['type'].value_counts()

type_3    4074900
type_1    2358588
type_2     859723
type_4     280984
type_5      26615
Name: type, dtype: int64

In [9]:
balances_test['entity'].value_counts()

entity_1    2600777
entity_5    2241266
entity_2    1617110
entity_4     617222
entity_3     524435
Name: entity, dtype: int64

In [11]:
balances_test.isna().sum()

period            0
ID                0
month             0
type              0
product           0
entity            0
balance_amount    0
days_default      0
dtype: int64

In [12]:
sample=balances_test[balances_test['ID']=='669c9da570306d5124c865db91a459fb245e80d39043dd30cfd1243dc3357baa']

In [21]:
sample.head()

,period,ID,month,type,product,entity,balance_amount,days_default
8218,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_1,product_6,entity_5,3.0434,0.0
116761,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,4,type_1,product_7,entity_5,4.1146,0.0
252527,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,3,type_1,product_6,entity_1,3.3861,0.0
291009,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,6,type_1,product_6,entity_2,3.2909,0.0
340633,period_5,669c9da570306d5124c865db91a459fb245e80d39043dd...,1,type_1,product_6,entity_1,3.4081,0.0

In [37]:
def media_0(col:pd.core.series.Series):
    return 0 if col.sum() == 0 else np.mean(col[col>0.0])

def var_0(col:pd.core.series.Series):
    return 0 if col.sum() == 0 else np.var(col[col>0.0])

def iqr_range(col:pd.core.series.Series):
    if col.empty:
        return 0
    q25 = np.quantile(col.to_numpy(),0.25)
    q75 = np.quantile(col.to_numpy(),0.75)
    return q75-q25

def count_anom_low(col:pd.core.series.Series):
    if col.empty:
        return 0
    iqr = iqr_range(col)
    lower = np.quantile(col.to_numpy(),0.25) - 1.5*(iqr)
    return (col.to_numpy() < lower).sum()

def count_anom_top(col:pd.core.series.Series):
    if col.empty:
        return 0
    iqr = iqr_range(col)
    top = np.quantile(col.to_numpy(),0.75) + 1.5*(iqr)
    return (col.to_numpy() > top).sum()

In [38]:
count_anom_top(sample['balance_amount'])

0

In [39]:
balances_test.groupby(by=['ID','period','type']).agg(
                                        balance_sum=pd.NamedAgg(column='balance_amount', aggfunc='sum'),
                                        balance_mean=pd.NamedAgg(column='balance_amount', aggfunc='mean'),
                                        balance_var=pd.NamedAgg(column='balance_amount', aggfunc='var'),
                                        balance_iqr=pd.NamedAgg(column='balance_amount', aggfunc=iqr_range),
                                        balance_anom_low=pd.NamedAgg(column='balance_amount', aggfunc=count_anom_low),
                                        balance_anom_top=pd.NamedAgg(column='balance_amount', aggfunc=count_anom_top),
                                        days_default=pd.NamedAgg(column='days_default', aggfunc='sum'),
                                        days_default_mean=pd.NamedAgg(column='days_default', aggfunc=media_0),
                                        days_default_var=pd.NamedAgg(column='days_default', aggfunc=var_0),
                                        ).reset_index()\
                                        .pivot(index=['ID','period'], columns=['type']).reset_index()

:

: